.popup-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 68, 68, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-inner {
  position: relative;
  width: 100%;
  max-width: 400px;
  background: #ffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2, green, blue, alpha);
  padding: 30px 35px 20px 35px;
  border-radius: 15px;
  transition: all 0.5s;
}

.auth-inner .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 15px;
  height: 15px;
  background: #888;
  color: #eee;
  text-align: center;
  line-height: 15px;
  border-radius: 15px;
  cursor: pointer;
}

.auth-inner h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
  padding-right: 40px;
}

.form-group {
  text-align: left;
  padding-top: 5px;
  align-items: center;
}

.form-group .form-label {
  font-weight: 700;
  font-family: "Fira Sans", sans-serif;
}

.form-group .form-btn {
  width: 100%;
}

.form-link {
  text-align: right;
  margin: 0;
  font-size: 15px;
  color: rgb(79, 151, 233);
}

.form-link:hover {
  text-decoration: underline;
  color: rgb(21, 71, 129);
  cursor: pointer;
}

.form-radio-label {
  margin-left: 50px;
  margin-right: 50px;
}

.form-radio-label:hover {
  cursor: pointer;
}

.form-radio-btn {
  margin-left: 8px;
}

.form-radio-btn:hover {
  cursor: pointer;
}

.form-para-link {
  margin-left: 5px;
}

.form-group .validator {
  color: red;
  text-size-adjust: 80%;
}
