.game-control{
    background: rgb(199, 228, 255);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .game-control__zoom,
  .game-control__btn{
    display: block;
  }
  
  .game-control__btn--css{
    display:flex; 
    align-items: center; 
    cursor: pointer;
  }
  
  .btn__control{
    width:35px;
    margin: 0 10px;
  }
  
  .like,.unlike,
  .btn__zoom{
    font-size: 2.4rem;
    margin: 10px 0 5px 10px;
  }
  